.admin-container {
  padding: 30px;
}

.section-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.doctor-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 320px;
  background: #fff;
}

.approve {
  background: green;
  color: white;
  padding: 8px;
  margin-right: 10px;
  border: none;
}

.reject {
  background: red;
  color: white;
  padding: 8px;
  border: none;
}
