.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background: #eef5ff;
  min-height: 100vh;
}

.auth-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.auth-card.large {
  width: 500px;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0052cc;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-card input,
.auth-card select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  font-size: 15px;
}

.auth-card button {
  padding: 12px;
  background: #0052cc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-card button:hover {
  background: #003a99;
}

.switch-text {
  text-align: center;
  margin-top: 10px;
}
.upload-label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.declaration-box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
}
.declaration-box input {
  margin-top: 4px;
}


.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: -8px;
  margin-bottom: 10px;
}

.declaration-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
